name: File Sync

on:
  push:
    branches:
      - master
  schedule:
    - cron: 0 0 * * *

jobs:
  file_sync:
    runs-on: ubuntu-latest
    steps:
      - name: Fetching Local Repository
        uses: actions/checkout@master
      - name: File Sync
        uses: kbrashears5/github-action-file-sync@master
        with:
          REPOSITORIES: |
            kbrashears5/test@test
          FILES: |
            .github/workflows/file-sync.yml=./filesync1/test.txt
            .github/workflows/file-sync.yml=filesync2/test.txt
            .github/workflows/file-sync.yml=/filesync3/test.txt
            .github/workflows/file-sync.yml = ./filesync4/test.txt
            .github/workflows=newFolder
          TOKEN: ${{ secrets.ACTIONS }}
          PULL_REQUEST: false